__pycache__
*.pyc
venv
.venv
Screencast*
config.yaml
server/experiments
.ruff_cache
.DS_Store
memray-*
*.pth
articles
.vscode
server/res/video
server/res/img
server/res/article-images
server/res/april-tags/src
server/res/april-tags/*.png
*.ipynb
!server/res/video/4cam-manual-bottom-top